# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientist use are:
    1.Python
    2.Structured Query Language(SQL)
    3.R

Some of the commonly used libraries used by Data Scientists include:
    1.Pandas
    2.NumPy
    3.Matplotlib

# Objective:
* List Popular Languages for Data Science
* Tools Used For Data Science
* Data As a Career

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|Apache Spark      |
|Tensor Flow       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4+5)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
 Bijay Thapa